.userBadge {
  display: flex;
  align-items: center;
  gap: 1rem;

  .avatar {
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
  }

  .emptyAvatar {
    border-radius: 100%;
    background-color: #eaeaea;
    width: 4rem;
    height: 4rem;
  }
}